@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal {
    &__box {        
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 30vh;
        width: 60vw;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        // padding: $mobile-padding-left-right;

        @include tablet {
            background-color: $primary-white;
            padding: $tablet-padding-left-right;
            position: absolute;
            margin: auto;
            width: 70%;
            padding-bottom: 10%;
            top: 30%;
        }
        @include desktop {
            background-color: $primary-white;
            padding: $desktop-padding-left-right;
            position: absolute;
            top: 5rem;
        }
    }
    &__title {
        font-size: 2.25rem;
        color: #FFC604;
    }
    &__background {
        // background-color: rgba($color: black, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        padding: 5rem;
        width: 40vw;
    }
    &__body {
        display: flex;
        justify-content: space-between;

    }
    &__calc {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    &__drop {
        padding: .3rem;
        border-radius: .3rem;
        border-style: none;
        width: 10vw;
        background-color: white;
        margin-left: 1rem;
    }
    &__drop :hover {
        background-color: #FFC604;
        color: #3D3839;
    }
    &__box {
        width: 70vw;
        display: flex;
        align-items: flex-end;
    }
}
.model-content {
    background-color: white;
}