$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Colors
$primary-black: #13182c;
$primary-blue: #2e66e5; 
$primary-white: #FFFFFF; 

$secondary-slate: #5c667e; 
$secondary-cloud: #bdc5d5; 

$background-graphite: #232940; 
$background-light-grey: #f7f8f9; 

$supporting-green: #158463;
$supporting-red: #c94515;

// Padding
$mobile-padding-left-right: 0 1rem;
$tablet-padding-left-right: 0 2rem;
$desktop-padding-left-right: 0 auto;