@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.donut {
    height: 60vh;
    &__total {
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    &__input {
        display: flex;
        flex-direction: column;
    }
}
// canvas {
//     height: 30vh;
//     width: 30vw;
// }