@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.donut {

    display: flex;
    flex-direction: row-reverse;
    background-color: #3D3839;
    height: 70vh;


    &__total {
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    &__input {
        display: flex;
        flex-direction: column;
    }

    &__form {
        font-size: 1.25rem;
    }
}
// canvas {
//     height: 30vh;
//     width: 30vw;
// }