@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.donut {

    display: flex;
    background-color: #2e4f4f;
    height: 60vh;
    border-radius: 10px;


    &__total {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        overflow: hidden;
    }
    &__input {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding-bottom: .5rem;
        margin-left: .5rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }

    &__form {
        font-size: 1.25rem;
        border-radius: .5rem;
        border-style: none;
        color: #3D3839;
    
    }
}
// canvas {
//     height: 30vh;
//     width: 30vw;
// }