@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    display: flex;
    align-items: center;
    background-color: #121212;
    padding-top: 1rem;
    &__img {
        height: 7vh;
        margin-left: 2rem;

    }
    &__login {
        padding: .3rem;
        border-radius: .3rem;
        border-style: none;
        width: 10vw;
        background-color: white;
        margin-left: 1rem;
    }
    &__drop{
        padding: .3rem;
        border-radius: 1rem;
        border-style: none;
        width: 10vw;
        background-color: white;
    }
    &__box {
        width: 70vw;
    }

}