@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    display: flex;
    align-items: center;
    background-color: #2c3333;
    padding-top: 1rem;
    &__img {
        height: 7vh;
        margin-left: 2rem;

    }
    &__login {
        padding: 0.3125rem;
        font-size: 1rem;
        border: 1px solid slategray;
        border-radius: 0.9375rem;
        background-color: #e6eef4;
        cursor: pointer;
        width: 6.9375rem;
        margin-left: 1rem;
        color: slategray;
        text-decoration: none;
    }
    &__drop{
        padding: .3rem;
        border-radius: 1rem;
        border-style: none;
        width: 10vw;
        background-color: white;
    }
    &__box {
        width: 70vw;
        display: flex;
        justify-content: flex-end;
    }

}