@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.foot {
    border-top: 1px solid black;
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
    font-family: serif;
    font-weight: 200;
    background-color: #2c3333;
}