@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.input {
    
    &__body {
        width: 90%;
        margin-inline: auto;
        background-color: #f7f8f9;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-around;

    }
    // &__button {
    //     background-color: activeGraph === "donut" ?;
    // }
    

}