@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

* {
  font-family: Arial;
  color: slategray;
}
.input {
  &__sub-title {
    font-size: 0.8rem;
    font-weight: 100;
    color: #2c3333;
  }
  &__body {
    padding: 1rem;
    width: 100%;
    box-shadow: 1px 1px 3px rgb(27, 0, 0);
    background-color: #e6eef4;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #2c3333;
  }
  &__title {
    padding-left: 4rem;
    color: slategray;
    font-size: 3rem;
    background-color: #f1f6f9;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 100px 3px 15px rgba(255, 255, 255, 0.2);
  }
  &__top-box {
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
  }
  &__list {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    background-color: #f1f6f9;
    border-top: 2px solid #3d3839;
    margin-top: 0;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
  }
  // &__list :hover {
  //   border-bottom: 3px #f1f6f0;
  //   background-color: #f1f6f9;
  // }
  &__button {
    padding: 0.3125rem;
    font-size: 1rem;
    border: 1px solid slategray;
    border-radius: 0.9375rem;
    background-color: #028174;
    cursor: pointer;
    width: 11.9375rem;
    margin-left: 1rem;
    color: ghostwhite;
    margin-bottom: 1rem;
  }
  &__button :hover {
    border-bottom: 1rem #3d3839;
  }
  &__form-box {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
  }
  &__box {
    padding: 1rem;
    width: 30vw;
    box-shadow: 1px 1px 3px rgb(27 0 0);
    background-color: #e6eef4;
    border-radius: 0.5rem;
    height: 40vh;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #2c3333;
  }
  &__option {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 100;
    color: #2c3333;
  }
  &__input {
    padding: 0.25rem;
    font-size: 1rem;
    border-style: none;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    color: black;
    width: 25vw;
    background-color: #f1f6f9;
  }
  &__hover :hover {
    border-top: 1px solid #f1f6f9;
    border-left: 1px solid #f1f6f9;
    border-right: 1px solid #f1f6f9;
  }
  &__contains {
    display: flex;
    padding-bottom: 1rem;
    background-color: #f1f6f9;
  }
  &__submit {
    padding: 0.3125rem;
    font-size: 1rem;
    border: 1px solid slategray;
    border-radius: 0.9375rem;
    background-color: #028174;
    cursor: pointer;
    width: 6.9375rem;
    margin-left: 1rem;
    color: ghostwhite;
  }
}
