@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
    font-family: Arial;
    color: white;
    background-image: '../../assets/low-poly-abstract-white-golden-lines-background_1017-26507.avif';
}
.input {
    &__sub-title {
        font-size: .8rem;
        font-weight: 100;
    }
    &__body {
        background-color: #f7f8f9;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-around;
        border-radius: .5rem;


    }
    // &__button {
    //     background-color: activeGraph === "donut" ?;
    // }
    &__title {
        padding-left: 4rem;
        color: white;
        font-size: 3rem;
        background-color: #2e4f4f;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        // box-shadow: 100px 3px 15px rgba(255, 255, 255, 0.2);
        
    }
    &__top-box {
        font-size: 2rem;
        list-style: none;
        text-decoration: none;
    }
    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        justify-content: flex-end;
        background-color: #2c3333;
        margin-top: 0;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);


    }
    &__list :hover{
        border-bottom: 3px #FFC604;
        background-color: #2c3333;
    }
    &__button {
        margin-bottom: 1rem;
        font-size: 1rem;
        border-radius: .4rem;
        border-style: none;
        padding: .25rem;
        margin-right: 1rem;
        margin-top: 1rem;
        background-color: #0e8388;
    }
    &__button :hover {
        border-bottom: 1rem #3D3839;
    }   
    &__form-box {
        padding: .25rem;
        display: flex;
        flex-direction: column;

    }
    &__box {
        padding: 1rem;
        width: 100%;
        box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.2);
        background-color: #2e4f4f;
        border-radius: 0.5rem;
        height: 40vh;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;


    }
    &__option {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        font-weight: 100;

    }
    &__input {
        padding: .25rem;
        font-size: 1rem;
        border-style: none;
        border-radius: .25rem;
        border-width: .0625rem;
        color: black;
        width: 25vw;


    }
    &__hover :hover {
        border-top: 1px solid #FFC604;
        border-left: 1px solid #FFC604;
        border-right: 1px solid #FFC604;
    }
    &__contains {
        display: flex;
        padding-bottom: 1rem;
        background-color: #2c3333;
    }
    &__submit {
        padding: 1rem;
        width: 10vw;
        color: black;
        border-radius: .5rem;
        background-color:#0e8388 ;
        border-style: none;
        margin-top: 2rem;
    }
    

}