@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
    font-family: serif;
}
.input {
    
    &__body {
        width: 90%;
        margin-inline: auto;
        background-color: #f7f8f9;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-around;

    }
    // &__button {
    //     background-color: activeGraph === "donut" ?;
    // }
    &__title {
        padding-left: 4rem;
        color: #3D3839;
    }
    &__top-box {
        font-size: 2rem;
        list-style: none;
        text-decoration: none;
    }
    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }
    &__list :hover{
        border-bottom: 3px #FFC604;
        background-color: #f7f8f9;
    }
    &__button {
        margin-bottom: 1rem;
        font-size: 1rem;
        border-radius: .4rem;
        border-style: none;
        padding: .25rem;
        margin-right: 1rem;
        margin-top: 1rem;
        background-color: #f7f8f9;
    }
    &__button :hover {
        border-bottom: 1rem #FFC604;
    }   
    &__form-box {
        padding: .25rem;
        display: flex;
        flex-direction: column;

    }
    &__box {
        padding: 0;
    }
    &__option {
        display: flex;
        flex-direction: column;

    }
    &__input {
        margin-top: .5rem;
        padding: .25rem;
        font-size: 1rem;
    }
    

}