@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

* {
    font-family: serif;
    color: white;
    background-image: '../../assets/low-poly-abstract-white-golden-lines-background_1017-26507.avif';
}
.input {
    &__sub-title {
        font-size: 1.5rem;
    }
    &__body {
        margin-left: 3rem;
        background-color: #f7f8f9;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-around;
        border-top: .15rem solid #FFC604;
        border-radius: .25rem;
        margin-right: 2rem;

    }
    // &__button {
    //     background-color: activeGraph === "donut" ?;
    // }
    &__title {
        padding-left: 4rem;
        color: white;
        font-size: 3rem;
        background-color: #3D3839;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
    }
    &__under-title {
        border-top: 2px solid #3D3839;
    }
    &__top-box {
        font-size: 2rem;
        list-style: none;
        text-decoration: none;
    }
    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        justify-content: flex-end;
        background-color: #121212;
        margin-top: 0;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);


    }
    &__list :hover{
        border-bottom: 3px #FFC604;
        background-color: white;
    }
    &__button {
        margin-bottom: 1rem;
        font-size: 1rem;
        border-radius: .4rem;
        border-style: none;
        padding: .25rem;
        margin-right: 1rem;
        margin-top: 1rem;
        background-color: white;
    }
    &__button :hover {
        border-bottom: 1rem #3D3839;
    }   
    &__form-box {
        padding: .25rem;
        display: flex;
        flex-direction: column;

    }
    &__box {
        padding: 0;
        width: 45vw;
        margin-left: 2rem;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
        background-color: #3D3839;


    }
    &__option {
        display: flex;
        flex-direction: column;

    }
    &__input {
        margin-top: .5rem;
        padding: .25rem;
        font-size: 1rem;
    }
    &__hover :hover {
        border-top: 1px solid #FFC604;
        border-left: 1px solid #FFC604;
        border-right: 1px solid #FFC604;
    }
    &__contains {
        display: flex;
        padding-bottom: 1rem;
        background-color: #121212;
    }
    

}